.carousel { 
    position: relative;
    width: 100%; /* Ustawia karuzelę na pełną szerokość kontenera */
}
.carousel ul {
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    background: gray;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
    width: 100%; /* Ustawia listę na pełną szerokość karuzeli */
}
.carousel ul::-webkit-scrollbar {
    display: none; /* Ukrywa pasek przewijania w przeglądarkach Chrome, Safari i Opera */
}
.carousel ul li {
    position: relative;
    flex: 0 0 100%; /* Ustawia każdy slajd na pełną szerokość karuzeli */
    list-style: none;
    background: url() center center / cover no-repeat;
    scroll-snap-align: start;
}
.carousel ul li > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.carousel ul li > img {
    object-fit: cover;
    width: 100%; /* Ustawia szerokość obrazu na 100% szerokości kontenera */
    height: auto; /* Umożliwia proporcjonalne skalowanie wysokości obrazu */
}

/* Ukrywanie liczb na zdjęciach */
.carousel ul li > div {
    display: none;
}

.carousel ol {
    position: absolute;
    bottom: 15px;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}
.carousel ol li {
    list-style: none;
    padding: 0 5px;
}
.carousel ol li a {
    display: block;
    height: 10px;
    width: 10px;
    border: 2px solid white;
    background: transparent;
    border-radius: 100%;
}
.carousel ol li.selected a {
    background: gray;
}
.carousel .prev, .carousel .next {
    display: none;
    user-select: none;
    cursor: pointer;
    font-size: 50px;
    color: gray;
    position: absolute;
    left: 0;
    padding: 15px 15px 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    line-height: 0;
}
.carousel .next {
    left: auto;
    right: 0;
}

/* Stylizacja dla urządzeń mobilnych */
@media (max-width: 768px) {
    .carousel ul li {
        flex: 0 0 100%; /* Ustawia każdy slajd na pełną szerokość ekranu */
    }
    .carousel ul li > img {
        width: 100%; /* Ustawia szerokość obrazu na 100% szerokości ekranu */
        height: auto; /* Umożliwia proporcjonalne skalowanie wysokości obrazu */
    }
}
